{% extends 'base-dashboard.html.twig' %}

{% block subtitle %}En cours et futurs{% endblock %}

{% block content %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Statistiques</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.datestart|date('d/m/Y') }}</td>
                <td>{{ event.dateEnd|date('d/m/Y') }}</td>
                <td><a href="{{ path('event_stats', {'id': event.id}) }}"class="btn btn-outline-primary">Consulter</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
