{% extends 'base-dashboard.html.twig' %}

{% block subtitle %}En cours et futurs{% endblock %}

{% block content %}
   {% if  events|length > 0 %}
       <table class="table table-striped">
           <thead>
           <tr>
               <th>Nom</th>
               <th>Date de début</th>
               <th>Date de fin</th>
               <th>Statistiques</th>
           </tr>
           </thead>
           <tbody>
           {% for event in events %}
               <tr>
                   <td>{{ event.name }}</td>
                   <td>{{ event.datestart|date('d/m/Y') }}</td>
                   <td>{{ event.dateEnd|date('d/m/Y') }}</td>
                   <td><a href="{{ path('event_stats', {'id': event.id}) }}"class="btn btn-outline-primary">Consulter</a></td>
               </tr>
           {% endfor %}
           </tbody>
       </table>
       {% else %}
       <h3 style="margin-top: 3rem">Vous n'avez pas d'évènement</h3>
    {% endif %}

{% endblock %}
