<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <a href="http://localhost:8082/validation/{{ token }}" > validate account </a>
        </div>
    </div>
</div>
</body>
</html>